<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body>
    
    <ul class="nav-links">
        <li><a href="#">Dashboard</a></li>
        <li class="center"><a href="#">Portfolio</a></li>
        <li class="upward"><a href="#">Services</a></li>
        <li class="forward"><a href="#">Feedback</a></li>
      </ul>
    
</body>
</html>